[Unit]
Description=Bedtime warning (5 min) timer

[Timer]
OnCalendar=*-*-* 20:55:00
Persistent=false
Unit=sleep-warn-5.service

[Install]
WantedBy=timers.target
